.wrapper {
    display: flex;
    flex-direction: colum;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
 .form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .input-form {
    min-height: 300px;
    padding: 30px;
    outline: none;
    border: 1px solid silver;

 }
 .input-form:fokus{
    border: 1px solid silver;
 }
 .button-group{
   display: flex;
   justify-content:space-between;
   align-items: center;
   
 }
 .button {
   background-color: transparent;
   text-decoration: none;
   color: rgb(116, green, blue);
 }